@font-face {
  font-family: "terminal-grotesque-webfont";
  src: url("./assets/fonts/terminal-grotesque-webfont.woff2") format("woff2"),
    url("./assets/fonts/terminal-grotesque-webfont.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Minipax";
  src: url("./assets/fonts/Minipax-Medium.woff2") format("woff2"),
    url("./assets/fonts/Minipax-Medium.woff") format("woff");
  font-display: swap;
}

* {
  box-sizing: content-box;
}

html {
  font-family: "Minipax", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
}

body > div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5rem 1rem;
  margin: 4rem 5%;
}

ol {
  margin: 0;
  padding: 0;
  grid-column: -1 / -3;
  position: sticky;
  top: 4rem;
  transform: translateY(-3rem);
}

ol li {
  list-style: upper-roman;
  padding: 0;
  font-size: 2rem;
  font-family: "Minipax", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 3.25rem;
}

ol li:not(.active) a {
  text-decoration: none;
}

a {
  font-size: 2rem;
  color: black;
  grid-column: span 4;
  justify-self: center;
}

a:nth-of-type(4) {
  grid-column: span 7;
}

h1,
h2 {
  font-family: "terminal-grotesque-webfont", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  display: grid;
  font-size: 6rem;
  line-height: 5rem;
  grid-column: span 7;
}

img,
.image,
.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  grid-column: 4 / 10;
}

.video {
  display: grid;
}

.video iframe {
  border: none;
}

.svg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

path {
  fill: transparent;
  stroke: black;
}

.video iframe,
.image {
  min-height: 32vw;
}

.image.empty {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  line-height: 0;
}

h2 {
  font-size: 4rem;
  text-align: center;
  grid-column: 7 / -1;
}

time {
  margin: 0;
  font-size: 3rem;
  grid-column: 9 / 12;
}

p {
  margin: 0;
  white-space: pre-wrap;
  font-size: 3rem;
  line-height: 1.5;
  grid-column: 3 / 11;
}

.editable + .editable {
  padding-left: 1rem;
}

.blank span,
li {
  font-family: "andale mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  color: inherit;
  padding: 1rem 2rem;
}

.blank::before {
  content: "\00a0\00a0(";
}

.blank::after {
  content: ")\00a0\00a0";
}

li {
  list-style: none;
  grid-column: span 4;
  justify-self: center;
}

li:nth-of-type(4) {
  grid-column: span 7;
}

.controls {
  display: grid;
  grid-gap: 0.5rem;
  justify-items: baseline;
}

button {
  border: 1px solid black;
  border-radius: 0;
  color: black;
  margin: 1px;
  background: none;
}

button:disabled {
  color: rgb(212, 212, 212);
  border-color: rgb(212, 212, 212);
}

body > div > button {
  grid-column: 1 / 13;
  justify-items: center;
  margin: auto;
}

.drawings {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 20rem);
  justify-content: center;

  position: relative;
}

svg {
  height: 100%;
  width: 100%;
  max-height: 30vh;
  grid-column: 1 / -1;
  padding: 5px;
}

.drawing-controls {
  grid-column: 1 / -1;
  margin: auto;
  display: flex;
}

svg.editable:hover {
  box-shadow: inset 0px 0px 0px 5px #000;
}

svg + p {
  margin-top: -10rem;
}

p span br:last-child {
  display: none;
}

p .bold {
  background-color: #ebebeb;
  letter-spacing: 0.05em;
}

p.context {
  list-style: upper-roman;
  display: list-item;
}
