:root {
  --border: 2px solid #000;
  --primary: #e7e7e7;
  --font-size: 1.7rem;
  --font: "andale mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font);
  background-color: var(--primary);
}

body > div {
  display: grid;
  grid-template-rows: auto 1fr 5fr;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  body > div {
    grid-template-columns: 2fr 1fr;
  }
}

body > div > main > div,
body > div > header > div {
  padding: 2rem;
  flex: 1;
}

img {
  width: 100%;
}

main > div {
  display: grid;
  grid-gap: 2rem;
  grid-auto-rows: max-content;
  overflow-y: scroll;
  padding-bottom: 10rem;
}

main > div > *:last-child {
  padding-bottom: 50rem;
}

header > div {
  display: grid;
  grid-gap: 1rem;
}

@media screen and (min-width: 768px) {
  header > div {
    grid-template-columns: auto 1fr 1fr;
  }
}

header {
  grid-column: 1 / -1;
  overflow: hidden;
}

header a {
  text-transform: uppercase;
  background: white;
  align-self: baseline;
  user-select: none;
}

header details summary {
  display: flex;
  justify-content: center;
  align-items: center;
}

header details span {
  cursor: pointer;
}

header details div:not(:empty) {
  display: inline-block;
  padding: 1rem 0 0 2rem;
  line-height: 5rem;
}

header details summary > input {
  flex: 1;
  margin-left: 1rem;
}

::placeholder { 
  color: black;
  opacity: 1;
}

main {
  border-top: var(--border);
  grid-row: span 2;
  display: flex;
  justify-content: end;
}

nav {
  border-top: var(--border);
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  nav {
    border-left: var(--border);
  }
}

nav > div {
  display: inline;
}

.hidden {
  display: none;
}

.details {
  display: none;
}

@media screen and (min-width: 768px) {
  .details {
    display: block;
  }
}

.toggle:checked ~ .details {
  display: block;
}

.details input {
  margin-bottom: 2rem;
}

nav > div label {
  user-select: none;
  cursor: pointer;
  padding: 2rem 0;
}

nav > div label,
nav input {
  display: block;
  width: 100%;
}

nav a,
nav button {
  margin: 0 2rem 2rem 0;
}

a,
button {
  font-family: var(--font);
  font-size: var(--font-size);
  background: none;
  display: inline-block;
  border: var(--border);
  padding: 0.7rem 1rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

a:hover,
button:hover,
.drawing svg {
  background: white;
}

.drawing svg {
  max-height: 30vmin;
  object-fit: cover;
  width: 100%;
}

summary > span {
  user-select: none;
}

details[open] summary > span {
  transform: rotate(90deg);
}

details,
details summary {
  outline: none;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.drawing path {
  fill: transparent;
  stroke: black;
}

input,
textarea,
.textarea {
  background: white;
  border: none;
  padding: 1rem;
  font-size: var(--font-size);
  grid-column: 1/-1;
  resize: none;
  font-family: var(--font);
  white-space: pre-line;
  outline: none;
}

textarea {
  min-height: 15rem;
}

textarea,
.textarea {
  width: 100%;
}

textarea[readonly],
textarea[readonly="readonly"],
.textarea,
.drawing svg {
  border: var(--border);
}

article {
  position: relative;
}

.before-lock {
  position: absolute;
  top: 0;
  left: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.before-lock button {
  border: none;
  padding: 0;
  filter: grayscale(100%) brightness(0);
  width: 1.8rem;
}

.before-lock button:hover {
  filter: grayscale(100%) brightness(100);
  color: white;
  background: none;
}

.before-lock .lock {
  display: none;
}

article.blank {
  display: inline;
  line-height: 5rem;
}

header details div:not(:empty) button,
article.blank > * {
  margin-right: 2rem;
}

button .count,
a .count {
  vertical-align: super;
  font-size: 70%;
  color: red;
}

button:not(.clicked):disabled {
  opacity: 0.5;
}

button.clicked {
  background: white;
}
